<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="directories"
             type="BackupApp.Configuration.DirectoriesSection, BackupApp" />
  </configSections>
  <directories>
    <add name="Doc.finad" path="C:\Documenten\Doc.finad" />
    <add name="Bestelbons" path="C:\Documenten\Bestelbons" />
    <add name="De Borg" path="C:\Documenten\De Borg" />
    <add name="Finad" path="C:\Finad\" />
    <add name="Documenten" path="C:\Users\Gerda\Documents" />
    <add name="Afbeeldingen" path="C:\Users\Gerda\Pictures\" />
    <add name="Muziek" path="C:\Users\Gerda\Music\" />
  </directories>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>